#profile-avatar {
    display: flex;
    justify-content: center;
}

#no-user-found {
    text-align: center;
    margin-top: 150px;
}

#profile-stats {
    display: flex;
    flex-wrap: wrap;
    flex: 50%;
}
#profile-stats p {
    width: 50%;
}

#profile-infos {
    display: flex;
    width: 100%;
    flex: 50%;
}
#profile-infos p {
    width: 50%;
}